<nav class='navbar navbar-primary' id="navbar-style">
  <div class='container-fluid'>
    <ul class='nav navbar-nav'>
      <li><a class='navbar-brand' id="left-logo"><img src="../../assets/images/fb.png" width="30px;" /></a></li>
      <li><a [routerLink]="['/userfeed']">Home</a></li>
      <li><a [routerLink]="['/profile']">Profile</a></li>
      <li><a [routerLink]="['/messages']">Messages</a></li>
      <li><a [routerLink]="['/settings']">Settings</a></li>
      <li><a [routerLink]="['/groups']">Groups</a></li>
      <li><a [routerLink]="['/birthdays']">Birthdays</a></li>
      <li id="friend-search"><input id="right-search" type="text"><input id="right-button" type="button" value="Search"></li>
    </ul>
  </div>
</nav>
<div>
  <router-outlet></router-outlet>
</div>